.sidebar {
    width: 260px;
    height: 100vh;
    /* full height*/
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 20px 10px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-content {
    flex: 0 0 auto;
}

.sidebar-footer {
    margin-top: auto;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.logo img {
    width: 120px;
    margin-bottom: 20px;
    cursor: pointer;
}

.header {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    transition: background 0.3s ease;
    border-radius: 8px;
}

.menu-item .icon {
    font-size: 20px;
    margin-right: 12px;
}

.menu-item:hover,
.menu-item.active {
    background-color: #ffcc00;
    color: black;
}

.menu-bottom {
    margin-top: auto;
    width: 100%;
}

.main-content {
    margin-left: 260px;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}

/* display: flex;
  align-items: center;
  padding: 12px;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: background 0.3s ease;
  border-radius: 8px; */