body {
    background-color: #f0f0f0;
}

.welcome-container {
    display: grid;

    /*centers the entire welcome box */
    place-items: center;
    /*full viewport height */
    height: 100vh;
    background-color: #f0f0f0;
}

.welcome-box {
    display: grid;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    justify-items: center;
    width: 300px;
}